div.info-left {
    float: left;
    width: 74%;
    font-size: 1.6rem;
}

div.dish-name {
    margin-bottom: 2rem;
}

div.info-right {
    float: right;
    width: 24%;
    text-align: right;
}

div.info-left > p {
    margin-bottom: 3rem;
}

section.dish {
    background: url(../img/pizza-2000602_1920.jpg);
    background-size: cover;
    height: calc(100vh - 16vh - 5.7vh);
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .dish {
        background: url(../img/pizza-2000602_1920@2x.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .dish {
        background: url(../img/pizza-2000602_1920@3x.jpg);
    }
}

div.gradient-top {
    margin-top: -1px;
    padding: 2rem calc(5vw + 3rem);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 28%, rgba(255, 255, 255, 0.79) 46%, rgba(255, 255, 255, 0.67) 72%, rgba(255, 255, 255, 0.56) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(28%, rgba(255, 255, 255, 0.8)), color-stop(46%, rgba(255, 255, 255, 0.79)), color-stop(72%, rgba(255, 255, 255, 0.67)), color-stop(100%, rgba(255, 255, 255, 0.56)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 28%, rgba(255, 255, 255, 0.79) 46%, rgba(255, 255, 255, 0.67) 72%, rgba(255, 255, 255, 0.56) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 28%, rgba(255, 255, 255, 0.79) 46%, rgba(255, 255, 255, 0.67) 72%, rgba(255, 255, 255, 0.56) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 28%, rgba(255, 255, 255, 0.79) 46%, rgba(255, 255, 255, 0.67) 72%, rgba(255, 255, 255, 0.56) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 28%, rgba(255, 255, 255, 0.79) 46%, rgba(255, 255, 255, 0.67) 72%, rgba(255, 255, 255, 0.56) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

@media only screen and (orientation: landscape) {
    section.dish {
        height: 100%;
    }
}

a {
    text-decoration: none;
}
